{
  "presets": [
    [
      "env", {
        "modules": false,
        "useBuiltIns": true,
        "targets": {
          "browsers": [
            "ios >= 6.0",
            "android >= 2.4"
          ]
        }
      }
    ]
  ],

  "plugins": [
    "transform-class-properties"
  ]
}
